<div class="table-container">
  <h1 class="title" style="text-align: center;color: white"> DASHBOARD </h1>
  <h1 class="subtitle" style="text-align: center;color: white"> The current time is: {{ currentTime }} </h1>

  <div class="slot-card">
    <mat-card *ngFor="let item of slots">
      <mat-card-header>
        <div *ngIf="item.status === 'busy'">
          <img src="./assets/picture/rojo2.png" width="45px" height="50px" class="img-status">
        </div>
        <div *ngIf="item.status === 'available'">
          <img src="./assets/picture/verde.png" width="45px" height="50px" class="img-status">
        </div>
        <div *ngIf="item.status === 'reserved'">
          <img src="./assets/picture/amarillo.png" width="45px" height="50px" class="img-status">
        </div>
        <mat-card-title>Slot {{item.id}}: {{item.driver}}</mat-card-title>
        <mat-card-subtitle>Start Time: {{item.lastChange}}</mat-card-subtitle>
        <br>
        <mat-card-subtitle>Status: {{item.status}}</mat-card-subtitle>
        <br>
        <mat-card-subtitle>Time Elapsed: {{calculateTimeElapsed(item.lastChange)}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button>VIEW HISTORY </button>
      </mat-card-actions>
      <mat-card-footer>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
